<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>All Your Books</h1>
    <% if(books.length > 0){%>
        <%= console.log(books)  %>
        <% for (let book of books){ %>
            <ul>
                <li><%= book.title  %></li>
            </ul>
        <% } %>
    <% } else { %>
        <p>Currently no books added.</p>
    <% } %>
    <a href="/books/new">
        <button>Add A Book</button>
    </a>
</body>
</html>